<mat-accordion *ngFor="let team of teamList">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{team.name}}
        </mat-panel-title>
        <mat-panel-description>
          <mat-chip-list class="role list">
              <mat-chip *ngFor="let chip of team.tags" selected color="accent">{{chip}}</mat-chip>
          </mat-chip-list>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list class="inline-list">
        <app-build-card [IDpair]="team.slot1"></app-build-card>
        <app-build-card [IDpair]="team.slot2"></app-build-card>
        <app-build-card [IDpair]="team.slot3"></app-build-card>
        <app-build-card [IDpair]="team.slot4"></app-build-card>
        <div class="vert">
          <h1>&nbsp;Description</h1>
          &nbsp;&nbsp;{{team.desc}}
        </div>
      </mat-list>
    </mat-expansion-panel>
</mat-accordion>