body {
    background-color: #726e6e;
    color: black;
}
  
.sidenav-container {
    height: 100%;
  }
  
.sidenav {
width: 200px;
}

.sidenav .mat-toolbar {
background: #191970;
}

.mat-toolbar.mat-primary {
position: sticky;
top: 0;
z-index: 1;
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(53, 53, 53, 0.44);
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}