body {
    background-color: #726e6e;
    color: black;
}
  
.sidenav-container {
    height: 100%;
  }
  
.sidenav {
width: 200px;
}

.sidenav .mat-toolbar {
background: #191970;
}

.mat-toolbar.mat-primary {
position: sticky;
top: 0;
z-index: 1;
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(53, 53, 53, 0.44);
}

.footer{
    position:fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #242857;
    color: white;
    font-weight: 600;
}
    
.footer #twitter-logo:hover, .footer #youtube-logo:hover {
    opacity: 0.8;
}

.spacer{
    flex:1;
    padding-left:10px;
}
