<mat-button-toggle-group [formControl]="filter" multiple>
    <!-- TODO #11 Invert button colours, so they appear selected by default; for more intuitive functionality -->
    <mat-button-toggle value="MainDPS">MainDPS</mat-button-toggle>
    <mat-button-toggle value="SubDPS">SubDPS</mat-button-toggle>
    <mat-button-toggle value="Enabler">Enabler</mat-button-toggle>
    <mat-button-toggle value="Healer">Healer/Shield</mat-button-toggle>
  </mat-button-toggle-group>
  
  <ul>
      <li *ngFor="let char of filteredChars$ | async">
          <app-character-card>
              <p name>
                  {{char.name}}
              </p>
              <p role>
                  <mat-chip-list class="role list">
                      <mat-chip *ngFor="let chip of char.roles" selected [color]="chip.priority">{{chip.role}}</mat-chip>
                  </mat-chip-list>
              </p>
              <p img>
                  <img src="../../{{char.img}}">
              </p>
              <p desc>
                  {{char.desc}}
              </p>
          </app-character-card>
      </li>
  </ul>
